
body {
   padding-bottom:60px;   /* Height of the footer */
   background-color: #28242c;
   font-size: large;
  
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
  
  iframe {
    position: absolute;
    top: 80%;
    right: 0%;
    width: 20%;
    height: 20%;
    margin-right: 20px;
    z-index: 999;
    padding-bottom: 20px;
}






.card {
  text-align: Center;
  background-color:  gray;
  color: white;
  font-weight: bold;
}